.App {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  color: #2c3e50;
  margin-top: 20px;
}

body {
  background-color: #f9f9f9 !important;
}

h1 {
  padding-top: 32px;
}

.btn {
  margin: 15px 1px;
}

table tbody th, td {
  color: #2c3e50;
}